.produk .our h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 115%;
  margin-bottom: 48px;
  color: rgba(0, 0, 0, 0.75);

}
.produk .card .card-body a {
  margin-bottom: 13.5px;
}
.produk ul {
  list-style: none;
  padding: 0;
}
.produk .card {
  width: 17.688rem;
  height: 25.75rem;
  transition: 0.5s;
  display: flex;
  /* flex-direction: column;
    justify-content: center;
    align-items: center; */
  overflow: hidden;
  border-radius: 0%;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.produk .card img {
  width: 15.375rem;
  height: 15.125rem;
  transition: 0.5s;
  margin-top: 18px;
}
.produk .card .card-body h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: rgba(0, 0, 0, 0.5);
}
.produk .card .card-body p {
  font-weight: 600;
  font-size: 36px;
  line-height: 115%;
  color: rgba(0, 0, 0, 0.75);
}
.produk .card .card-body a.btn {
  width: 15.375rem;
  transition: 0.5s;
  border: 1px solid #afc318;
  border-radius: 0%;
}
.produk .card .card-body a .iconify {
  font-size: 20px;
}
.produk .card:hover {
  width: 21.375rem;
  height: 31.125rem;
  border: 2px solid #afc318;
  margin-top: 20px;
  box-shadow: 12px 12px 48px rgba(175, 195, 24, 0.48);
}

.produk .card:hover img {
  width: 18.688rem;
  height: 19.438rem;
}
.produk .card:hover .card-body a.btn {
  background-color: #afc318;
  font-weight: bold;
}

.produk ul .nav-item .nav-link.active {
  background: rgba(175, 195, 24, 0.25);
  border: 2px solid #afc318;
  width: 17.688rem;
}
.produk ul .nav-item .nav-link.active span {
  font-weight: 500;
}

.produk ul .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: transparent;
  width: 17.688rem;
  height: 3.25rem;
  border-radius: 0%;

}
.produk ul li button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.produk ul li button span {
  padding-left: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 115%;
  color: rgba(0, 0, 0, 0.75);
}

/* responsive */

@media only screen and (max-width: 1400px) {
  .produk .pembungkus-kartu .card {
    width: 15.486rem;
    height: 28.375rem;
  }

  .produk .card img {
    width: 13.036rem;
    height: 13.688rem;
  }
  .produk .card:hover img {
    width: 13.036rem;
    height: 13.688rem;
  }
  .produk ul .nav-item .nav-link.active 
  {
    width:15.486rem;
  }
  .produk .card .card-body a.btn {
    width: 12.5rem;
  }
  .produk ul .nav-item .nav-link {
    width: 15.486rem;
  }
  .produk ul .nav-item .nav-link:hover {
    width: 15.486rem;

  }

  .produk .pembungkus-kartu .card
  {
    height: 24.75rem;
  }
  .produk .card .card-body p
  {
    font-size: 32px;
  }
}

@media only screen and (max-width: 1024px) {
  .produk .our h1 {
    font-size: 32px;
  }
  .produk .pembungkus-kartu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .produk .pembungkus-kartu .card {
    margin-bottom: 32px;
    width: 19.486rem;
    height: 28.375rem;
    border: 2px solid #afc318;
    box-shadow: 12px 12px 48px rgba(175, 195, 24, 0.48);
  }

  .produk .card:hover {
    width: 19.486rem;
    height: 28.375rem;
    border: 2px solid #afc318;
    box-shadow: 12px 12px 48px rgba(175, 195, 24, 0.48);
  }

  .produk .card img {
    width: 16rem;
    height: 16.688rem;
  }
  .produk .card .card-body a {
    background-color: #afc318;
    font-weight: bold;
  }
  .produk .card .card-body a.btn {
    width: 15.375rem;
  }
  .produk .card:hover img {
    width: 16.036rem;
    height: 16.688rem;
  }

  .bungkus-link {
    display: flex;
    overflow-x: auto;
  }
  .bungkus-link .gg {
    width: 19.486rem;
  }
  .bungkus-link::-webkit-scrollbar {
    width: 0;
  }

  .produk ul .nav-item .nav-link {
    width: 9.25rem;
    border-radius: 0%;
    margin-right: 16px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .produk ul .nav-item .nav-link.active {
    background: rgba(175, 195, 24, 0.25);
    border: 2px solid #afc318;
    width: 9.25rem;
  }

  .produk .nav-pills {
    display: inline-flex;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none; /*// IE 10+*/
    overflow: -moz-scrollbars-none; /*// Firefox*/
  }
}
